<!-- <p-card header="{{Group.name}}" subheader="{{Group.description}}" [style]="{ width: '150px' }">
    <ng-template pTemplate="header">
        <img alt="Group-Card" src="assets\images\cattle\{{Group.imgLink}}" height="75" width="150" />
    </ng-template>
</p-card> -->

<mat-card style="max-width: 150px;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{Group.name}}</mat-card-title>
    <mat-card-subtitle>{{Group.description}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image alt="Group-Card" src="assets\images\cattle\{{Group.imgLink}}" height="75" width="150">
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

