<div class="dialog_container">
    <form  [formGroup]="CreateGestationForm">
        <div class="form">

            <div class="form-columns">
                <div class="form-column">
                    <div class="form-entry-col">
                        <label for="identifier">Identifiant</label>
                        <input pInputText id="identifier" formControlName="identifier" />
                    </div>
                    <div class="form-entry-col">
                        <label for="birthdate">Date de début</label>
                        <p-datepicker type="date" formControlName="startDate"></p-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <p-button label="Annuler" [raised]="true" severity="warn" (click)="OnCancel()"></p-button>
                <p-button label="Confirmer" [raised]="true" [disabled]="!CreateGestationForm.valid" (click)="OnCreate()"></p-button>
            </div>
        </div>
    </form>
</div>