<div class="dialog_container">
    <form  [formGroup]="createAlertForm">
        <div class="form-header">
            <div *ngIf="cowId !== undefined">
                <span>Animal : {{ cowId | cowIdentifier }}</span>
            </div>
            <div *ngIf="cowId === undefined && penId !== undefined">
                <span>Enclos : {{ penId | penName }} </span>
            </div>
        </div>

        <div class="form-columns">
            <div class="form-column">
                <!-- <ng-container *ngIf="cowId !== undefined">
                    <div class="form-entry-col">
                        <label for="cow">Animal</label>
                        <input pInputText id="cowId" formControlName="cowId" fluid/>
                    </div>
                </ng-container>
                <ng-container *ngIf="cowId === undefined && penId !== undefined">
                    <div class="form-entry-col">
                        <label for="pen">Enclos</label>
                        <input pInputText id="penId" formControlName="penId" fluid/>
                    </div>
                </ng-container> -->
                <div class="form-entry-col">
                    <label for="name">Titre</label>
                    <input pInputText id="title" formControlName="title" fluid/>
                </div>
                <div class="form-entry-col">
                    <label for="description">Description</label>
                    <input pInputText type="description" formControlName="description" fluid/>
                </div>
                <div class="form-entry-col">
                    <label for="level">Niveau</label>
                    <input pInputText type="level" formControlName="level" fluid/>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <p-button label="Annuler" [raised]="true" severity="warn" (click)="OnCancel()"></p-button>
            <p-button label="Confirmer" [raised]="true" [disabled]="!createAlertForm.valid" (click)="OnCreate()"></p-button>
        </div>

    </form>
</div>