USE [master]
GO
/****** Object:  Database [CattleManager]    Script Date: 14/06/2025 00:49:29 ******/
CREATE DATABASE [CattleManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CattleManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CattleManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CattleManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CattleManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CattleManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CattleManager]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alerts]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CowId] [int] NULL,
	[PenId] [int] NULL,
	[Level] [nvarchar](max) NOT NULL,
	[Infos] [nvarchar](max) NULL,
	[Done] [bit] NOT NULL,
 CONSTRAINT [PK_Alerts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conditions]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conditions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_Conditions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cows]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Identifier] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Race] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[PenId] [int] NULL,
	[GroupId] [int] NULL,
	[MilkCow] [bit] NOT NULL,
	[ImgLink] [nvarchar](max) NULL,
	[FatherId] [int] NULL,
	[MotherId] [int] NULL,
 CONSTRAINT [PK_Cows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gestations]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gestations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[StartDate] [date] NOT NULL,
	[CalvingDate] [date] NULL,
 CONSTRAINT [PK_Gestations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMoves]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMoves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[SourceGroupId] [int] NULL,
	[DestinationGroupId] [int] NOT NULL,
 CONSTRAINT [PK_GroupMoves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImgLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intervenants]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intervenants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Coordinates] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Intervenants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interventions]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interventions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[IntervenantId] [int] NULL,
	[Date] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Interventions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PenId] [int] NULL,
	[CowId] [int] NULL,
	[Infos] [nvarchar](max) NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milkings]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milkings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Volume] [float] NOT NULL,
	[Cancelled] [bit] NOT NULL,
 CONSTRAINT [PK_Milkings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MilkProductions]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MilkProductions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[WeeklyProduction] [float] NOT NULL,
	[MonthlyProduction] [float] NOT NULL,
	[LifetimeAverage] [float] NOT NULL,
	[TotalQuantity] [float] NOT NULL,
	[TotalDays] [float] NOT NULL,
 CONSTRAINT [PK_MilkProductions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PenMoves]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenMoves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[SourcePenId] [int] NULL,
	[DestinationPenId] [int] NOT NULL,
 CONSTRAINT [PK_PenMoves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pens]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Size] [int] NOT NULL,
	[Coordinates] [nvarchar](max) NULL,
 CONSTRAINT [PK_Pens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConditionId] [int] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[CowId] [int] NOT NULL,
 CONSTRAINT [PK_Treatments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IdAuth] [nvarchar](max) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccinations]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccinations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[CowId] [int] NOT NULL,
 CONSTRAINT [PK_Vaccinations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerJobs]    Script Date: 14/06/2025 00:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerJobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
 CONSTRAINT [PK_WorkerJobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231230165358_InitialMigration', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231231133203_AddedPropertiesToGroupEntity', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240117205500_UpdateAlertAndIntervention', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Alerts] ON 

INSERT [dbo].[Alerts] ([Id], [Title], [Description], [CowId], [PenId], [Level], [Infos], [Done]) VALUES (1017, N'test', N'test bas', 2, NULL, N'Bas', NULL, 0)
INSERT [dbo].[Alerts] ([Id], [Title], [Description], [CowId], [PenId], [Level], [Infos], [Done]) VALUES (1018, N'test alerte', N'test test test', NULL, 3, N'Moyen', NULL, 0)
INSERT [dbo].[Alerts] ([Id], [Title], [Description], [CowId], [PenId], [Level], [Infos], [Done]) VALUES (1019, N'tes', N'tttttt', 2, NULL, N'Moyen', NULL, 0)
SET IDENTITY_INSERT [dbo].[Alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[Conditions] ON 

INSERT [dbo].[Conditions] ([Id], [CowId], [Name], [Type], [Status], [Comment], [StartDate], [EndDate]) VALUES (1, 2, N'Blessure pate gauche', N'Boitage', N'Actif', NULL, CAST(N'2025-05-18' AS Date), NULL)
INSERT [dbo].[Conditions] ([Id], [CowId], [Name], [Type], [Status], [Comment], [StartDate], [EndDate]) VALUES (2, 2, N'Douleur musculaire', N'Articluation', N'Actif', NULL, CAST(N'2025-05-26' AS Date), NULL)
INSERT [dbo].[Conditions] ([Id], [CowId], [Name], [Type], [Status], [Comment], [StartDate], [EndDate]) VALUES (3, 2, N'Peau sèche', N'Peau', N'Soigné', NULL, CAST(N'2025-05-26' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Conditions] OFF
GO
SET IDENTITY_INSERT [dbo].[Cows] ON 

INSERT [dbo].[Cows] ([Id], [Identifier], [Name], [BirthDate], [Race], [Gender], [PenId], [GroupId], [MilkCow], [ImgLink], [FatherId], [MotherId]) VALUES (2, N'aaa-111', N'Anna', CAST(N'2013-03-12' AS Date), N'BelgianBlue', N'F', 4, 2, 1, N'Calf_Holstein_RedAndWhite.jpg', NULL, NULL)
INSERT [dbo].[Cows] ([Id], [Identifier], [Name], [BirthDate], [Race], [Gender], [PenId], [GroupId], [MilkCow], [ImgLink], [FatherId], [MotherId]) VALUES (3, N'bbb-222', N'Berta', CAST(N'2014-04-13' AS Date), N'Holstein', N'F', 3, 6, 1, N'Calf_Holstein_RedAndWhite.jpg', NULL, NULL)
INSERT [dbo].[Cows] ([Id], [Identifier], [Name], [BirthDate], [Race], [Gender], [PenId], [GroupId], [MilkCow], [ImgLink], [FatherId], [MotherId]) VALUES (4, N'ccc-333', N'Charlina', CAST(N'2015-05-14' AS Date), N'Holstein', N'F', 4, 4, 1, N'Calf_Holstein_RedAndWhite.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cows] OFF
GO
SET IDENTITY_INSERT [dbo].[Gestations] ON 

INSERT [dbo].[Gestations] ([Id], [CowId], [Status], [StartDate], [CalvingDate]) VALUES (1, 2, N'En cours', CAST(N'2025-01-07' AS Date), NULL)
INSERT [dbo].[Gestations] ([Id], [CowId], [Status], [StartDate], [CalvingDate]) VALUES (2, 2, N'En cours', CAST(N'2025-01-11' AS Date), CAST(N'2025-10-11' AS Date))
INSERT [dbo].[Gestations] ([Id], [CowId], [Status], [StartDate], [CalvingDate]) VALUES (3, 4, N'En cours', CAST(N'2024-06-05' AS Date), CAST(N'2025-03-05' AS Date))
SET IDENTITY_INSERT [dbo].[Gestations] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupMoves] ON 

INSERT [dbo].[GroupMoves] ([Id], [CowId], [Date], [SourceGroupId], [DestinationGroupId]) VALUES (1, 4, CAST(N'0001-01-01' AS Date), 2, 6)
INSERT [dbo].[GroupMoves] ([Id], [CowId], [Date], [SourceGroupId], [DestinationGroupId]) VALUES (2, 2, CAST(N'0001-01-01' AS Date), 1, 2)
INSERT [dbo].[GroupMoves] ([Id], [CowId], [Date], [SourceGroupId], [DestinationGroupId]) VALUES (3, 4, CAST(N'0001-01-01' AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[GroupMoves] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([Id], [Name], [Description], [ImgLink]) VALUES (1, N'Jeunes taureaux', N'- 2ans', N'bull_icon.jpg')
INSERT [dbo].[Groups] ([Id], [Name], [Description], [ImgLink]) VALUES (2, N'Vaches laitières', N'Actuellement en traite', N'cow_milk_icon.webp')
INSERT [dbo].[Groups] ([Id], [Name], [Description], [ImgLink]) VALUES (3, N'Veaux', N'0-6m', N'calf_icon.jpg')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Interventions] ON 

INSERT [dbo].[Interventions] ([Id], [CowId], [IntervenantId], [Date], [Description], [Type]) VALUES (4, 2, NULL, CAST(N'2025-05-26' AS Date), N'Taureau : Marcus du bas', N'Insémination')
INSERT [dbo].[Interventions] ([Id], [CowId], [IntervenantId], [Date], [Description], [Type]) VALUES (5, 2, NULL, CAST(N'2025-05-29' AS Date), N'Taureau : Marcus du pré', N'Insémination')
INSERT [dbo].[Interventions] ([Id], [CowId], [IntervenantId], [Date], [Description], [Type]) VALUES (6, 2, NULL, CAST(N'2025-05-29' AS Date), N'Contrôle blessure pate gauche', N'Vétérinaire')
SET IDENTITY_INSERT [dbo].[Interventions] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([Id], [Title], [Description], [Status], [PenId], [CowId], [Infos], [Date]) VALUES (1, N'string', N'string', N'Terminee', NULL, NULL, NULL, CAST(N'2025-04-09' AS Date))
INSERT [dbo].[Jobs] ([Id], [Title], [Description], [Status], [PenId], [CowId], [Infos], [Date]) VALUES (2, N'test', N'test', N'En cours', NULL, NULL, NULL, CAST(N'2025-04-09' AS Date))
INSERT [dbo].[Jobs] ([Id], [Title], [Description], [Status], [PenId], [CowId], [Infos], [Date]) VALUES (3, N'Nettoyage Etable', N'Nettoyage complet', N'A realiser', NULL, NULL, NULL, CAST(N'2025-04-09' AS Date))
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Milkings] ON 

INSERT [dbo].[Milkings] ([Id], [CowId], [Date], [Volume], [Cancelled]) VALUES (1, 2, CAST(N'2024-03-05' AS Date), 12, 0)
INSERT [dbo].[Milkings] ([Id], [CowId], [Date], [Volume], [Cancelled]) VALUES (2, 3, CAST(N'2024-03-05' AS Date), 12, 0)
INSERT [dbo].[Milkings] ([Id], [CowId], [Date], [Volume], [Cancelled]) VALUES (3, 4, CAST(N'2024-03-05' AS Date), 11, 0)
GO
SET IDENTITY_INSERT [dbo].[Milkings] OFF
GO
SET IDENTITY_INSERT [dbo].[PenMoves] ON 

INSERT [dbo].[PenMoves] ([Id], [CowId], [Date], [SourcePenId], [DestinationPenId]) VALUES (1, 4, CAST(N'2025-01-12' AS Date), NULL, 4)
INSERT [dbo].[PenMoves] ([Id], [CowId], [Date], [SourcePenId], [DestinationPenId]) VALUES (2, 2, CAST(N'2025-01-13' AS Date), NULL, 3)
INSERT [dbo].[PenMoves] ([Id], [CowId], [Date], [SourcePenId], [DestinationPenId]) VALUES (3, 3, CAST(N'2025-01-25' AS Date), NULL, 2)
SET IDENTITY_INSERT [dbo].[PenMoves] OFF
GO
SET IDENTITY_INSERT [dbo].[Pens] ON 

INSERT [dbo].[Pens] ([Id], [Name], [Size], [Coordinates]) VALUES (2, N'Etable', 40, N'[50.491965,4.970262],[50.492095,4.970927],[50.491513,4.971241],[50.491361,4.970587]')
INSERT [dbo].[Pens] ([Id], [Name], [Size], [Coordinates]) VALUES (3, N'Prairie centrale', 60, N'[50.491965,4.970262],[50.492095,4.970927],[50.491513,4.971241],[50.491361,4.970587]')
INSERT [dbo].[Pens] ([Id], [Name], [Size], [Coordinates]) VALUES (4, N'Prairie gauche', 65, N'[50.490848,4.970597],[50.491114,4.971761],[50.491059,4.972005],[50.490878,4.972215], [50.490508,4.970925]')
SET IDENTITY_INSERT [dbo].[Pens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (1, N'Manager', N'Manager')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (2, N'Worker', N'Worker')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Treatments] ON 

INSERT [dbo].[Treatments] ([Id], [ConditionId], [Name], [Type], [Date], [CowId]) VALUES (2, NULL, N'Triplaction', N'Medicament', CAST(N'2025-05-26' AS Date), 2)
INSERT [dbo].[Treatments] ([Id], [ConditionId], [Name], [Type], [Date], [CowId]) VALUES (3, NULL, N'Malgo-300', N'Médicament', CAST(N'2025-05-29' AS Date), 2)
INSERT [dbo].[Treatments] ([Id], [ConditionId], [Name], [Type], [Date], [CowId]) VALUES (4, NULL, N'Stipendax', N'Pansement', CAST(N'2025-05-29' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Treatments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [IdAuth], [RoleId]) VALUES (1, N'Jhon', N'jhon@test.test', N'test1', 2)
INSERT [dbo].[Users] ([Id], [Username], [Email], [IdAuth], [RoleId]) VALUES (2, N'Adam', N'Adam@test.test', N'adam', 2)
INSERT [dbo].[Users] ([Id], [Username], [Email], [IdAuth], [RoleId]) VALUES (3, N'Mathilda', N'mathilda@test.test', N'mathilda', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccinations] ON 

INSERT [dbo].[Vaccinations] ([Id], [Name], [Date], [CowId]) VALUES (1, N'Vers des sables', CAST(N'2025-02-16' AS Date), 2)
INSERT [dbo].[Vaccinations] ([Id], [Name], [Date], [CowId]) VALUES (2, N'Illithyd', CAST(N'2025-05-23' AS Date), 2)
INSERT [dbo].[Vaccinations] ([Id], [Name], [Date], [CowId]) VALUES (3, N'Leposis-444', CAST(N'2025-05-25' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Vaccinations] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkerJobs] ON 

INSERT [dbo].[WorkerJobs] ([Id], [UserId], [JobId]) VALUES (3, 2, 1)
INSERT [dbo].[WorkerJobs] ([Id], [UserId], [JobId]) VALUES (4, 1, 1)
INSERT [dbo].[WorkerJobs] ([Id], [UserId], [JobId]) VALUES (5, 3, 2)
SET IDENTITY_INSERT [dbo].[WorkerJobs] OFF
GO
/****** Object:  Index [IX_Alerts_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Alerts_CowId] ON [dbo].[Alerts]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Alerts_PenId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Alerts_PenId] ON [dbo].[Alerts]
(
	[PenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conditions_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Conditions_CowId] ON [dbo].[Conditions]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cows_FatherId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Cows_FatherId] ON [dbo].[Cows]
(
	[FatherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cows_GroupId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Cows_GroupId] ON [dbo].[Cows]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cows_MotherId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Cows_MotherId] ON [dbo].[Cows]
(
	[MotherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cows_PenId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Cows_PenId] ON [dbo].[Cows]
(
	[PenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gestations_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Gestations_CowId] ON [dbo].[Gestations]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupMoves_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_GroupMoves_CowId] ON [dbo].[GroupMoves]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupMoves_DestinationGroupId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_GroupMoves_DestinationGroupId] ON [dbo].[GroupMoves]
(
	[DestinationGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupMoves_SourceGroupId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_GroupMoves_SourceGroupId] ON [dbo].[GroupMoves]
(
	[SourceGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Interventions_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Interventions_CowId] ON [dbo].[Interventions]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Interventions_IntervenantId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Interventions_IntervenantId] ON [dbo].[Interventions]
(
	[IntervenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobs_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_CowId] ON [dbo].[Jobs]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobs_PenId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_PenId] ON [dbo].[Jobs]
(
	[PenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Milkings_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Milkings_CowId] ON [dbo].[Milkings]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MilkProductions_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_MilkProductions_CowId] ON [dbo].[MilkProductions]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PenMoves_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_PenMoves_CowId] ON [dbo].[PenMoves]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PenMoves_DestinationPenId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_PenMoves_DestinationPenId] ON [dbo].[PenMoves]
(
	[DestinationPenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PenMoves_SourcePenId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_PenMoves_SourcePenId] ON [dbo].[PenMoves]
(
	[SourcePenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Treatments_ConditionId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Treatments_ConditionId] ON [dbo].[Treatments]
(
	[ConditionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Treatments_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Treatments_CowId] ON [dbo].[Treatments]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vaccinations_CowId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_Vaccinations_CowId] ON [dbo].[Vaccinations]
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkerJobs_JobId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_WorkerJobs_JobId] ON [dbo].[WorkerJobs]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkerJobs_UserId]    Script Date: 14/06/2025 00:49:31 ******/
CREATE NONCLUSTERED INDEX [IX_WorkerJobs_UserId] ON [dbo].[WorkerJobs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT (N'') FOR [Level]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Done]
GO
ALTER TABLE [dbo].[Cows] ADD  DEFAULT (CONVERT([bit],(0))) FOR [MilkCow]
GO
ALTER TABLE [dbo].[Interventions] ADD  DEFAULT (N'') FOR [Type]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('0001-01-01') FOR [Date]
GO
ALTER TABLE [dbo].[Milkings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Cancelled]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((0)) FOR [CowId]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [FK_Alerts_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK_Alerts_Cows_CowId]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [FK_Alerts_Pens_PenId] FOREIGN KEY([PenId])
REFERENCES [dbo].[Pens] ([Id])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK_Alerts_Pens_PenId]
GO
ALTER TABLE [dbo].[Conditions]  WITH CHECK ADD  CONSTRAINT [FK_Conditions_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conditions] CHECK CONSTRAINT [FK_Conditions_Cows_CowId]
GO
ALTER TABLE [dbo].[Cows]  WITH CHECK ADD  CONSTRAINT [FK_Cows_Cows_FatherId] FOREIGN KEY([FatherId])
REFERENCES [dbo].[Cows] ([Id])
GO
ALTER TABLE [dbo].[Cows] CHECK CONSTRAINT [FK_Cows_Cows_FatherId]
GO
ALTER TABLE [dbo].[Cows]  WITH CHECK ADD  CONSTRAINT [FK_Cows_Cows_MotherId] FOREIGN KEY([MotherId])
REFERENCES [dbo].[Cows] ([Id])
GO
ALTER TABLE [dbo].[Cows] CHECK CONSTRAINT [FK_Cows_Cows_MotherId]
GO
ALTER TABLE [dbo].[Cows]  WITH CHECK ADD  CONSTRAINT [FK_Cows_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Cows] CHECK CONSTRAINT [FK_Cows_Groups_GroupId]
GO
ALTER TABLE [dbo].[Cows]  WITH CHECK ADD  CONSTRAINT [FK_Cows_Pens_PenId] FOREIGN KEY([PenId])
REFERENCES [dbo].[Pens] ([Id])
GO
ALTER TABLE [dbo].[Cows] CHECK CONSTRAINT [FK_Cows_Pens_PenId]
GO
ALTER TABLE [dbo].[Gestations]  WITH CHECK ADD  CONSTRAINT [FK_Gestations_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gestations] CHECK CONSTRAINT [FK_Gestations_Cows_CowId]
GO
ALTER TABLE [dbo].[GroupMoves]  WITH CHECK ADD  CONSTRAINT [FK_GroupMoves_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMoves] CHECK CONSTRAINT [FK_GroupMoves_Cows_CowId]
GO
ALTER TABLE [dbo].[GroupMoves]  WITH CHECK ADD  CONSTRAINT [FK_GroupMoves_Groups_DestinationGroupId] FOREIGN KEY([DestinationGroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMoves] CHECK CONSTRAINT [FK_GroupMoves_Groups_DestinationGroupId]
GO
ALTER TABLE [dbo].[GroupMoves]  WITH CHECK ADD  CONSTRAINT [FK_GroupMoves_Groups_SourceGroupId] FOREIGN KEY([SourceGroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[GroupMoves] CHECK CONSTRAINT [FK_GroupMoves_Groups_SourceGroupId]
GO
ALTER TABLE [dbo].[Interventions]  WITH CHECK ADD  CONSTRAINT [FK_Interventions_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Interventions] CHECK CONSTRAINT [FK_Interventions_Cows_CowId]
GO
ALTER TABLE [dbo].[Interventions]  WITH CHECK ADD  CONSTRAINT [FK_Interventions_Intervenants_IntervenantId] FOREIGN KEY([IntervenantId])
REFERENCES [dbo].[Intervenants] ([Id])
GO
ALTER TABLE [dbo].[Interventions] CHECK CONSTRAINT [FK_Interventions_Intervenants_IntervenantId]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Cows_CowId]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Pens_PenId] FOREIGN KEY([PenId])
REFERENCES [dbo].[Pens] ([Id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Pens_PenId]
GO
ALTER TABLE [dbo].[Milkings]  WITH CHECK ADD  CONSTRAINT [FK_Milkings_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Milkings] CHECK CONSTRAINT [FK_Milkings_Cows_CowId]
GO
ALTER TABLE [dbo].[MilkProductions]  WITH CHECK ADD  CONSTRAINT [FK_MilkProductions_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MilkProductions] CHECK CONSTRAINT [FK_MilkProductions_Cows_CowId]
GO
ALTER TABLE [dbo].[PenMoves]  WITH CHECK ADD  CONSTRAINT [FK_PenMoves_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PenMoves] CHECK CONSTRAINT [FK_PenMoves_Cows_CowId]
GO
ALTER TABLE [dbo].[PenMoves]  WITH CHECK ADD  CONSTRAINT [FK_PenMoves_Pens_DestinationPenId] FOREIGN KEY([DestinationPenId])
REFERENCES [dbo].[Pens] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PenMoves] CHECK CONSTRAINT [FK_PenMoves_Pens_DestinationPenId]
GO
ALTER TABLE [dbo].[PenMoves]  WITH CHECK ADD  CONSTRAINT [FK_PenMoves_Pens_SourcePenId] FOREIGN KEY([SourcePenId])
REFERENCES [dbo].[Pens] ([Id])
GO
ALTER TABLE [dbo].[PenMoves] CHECK CONSTRAINT [FK_PenMoves_Pens_SourcePenId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_Treatments_Conditions_ConditionId] FOREIGN KEY([ConditionId])
REFERENCES [dbo].[Conditions] ([Id])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_Treatments_Conditions_ConditionId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_Treatments_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_Treatments_Cows_CowId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[Vaccinations]  WITH CHECK ADD  CONSTRAINT [FK_Vaccinations_Cows_CowId] FOREIGN KEY([CowId])
REFERENCES [dbo].[Cows] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vaccinations] CHECK CONSTRAINT [FK_Vaccinations_Cows_CowId]
GO
ALTER TABLE [dbo].[WorkerJobs]  WITH CHECK ADD  CONSTRAINT [FK_WorkerJobs_Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkerJobs] CHECK CONSTRAINT [FK_WorkerJobs_Jobs_JobId]
GO
ALTER TABLE [dbo].[WorkerJobs]  WITH CHECK ADD  CONSTRAINT [FK_WorkerJobs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkerJobs] CHECK CONSTRAINT [FK_WorkerJobs_Users_UserId]
GO
USE [master]
GO
