<div class="page_base">
        <div class="flex flex-column">

                <div class="flex flex-row justify-content-start align-content-center">
                        <div class="flex flex-row justify-content-between gap-3">
                        <p-button label="Créer" (click)="createUserDialog()" ></p-button> 
                        </div>
                </div>

                <p-divider></p-divider>

                <app-workers-list-view *ngIf="Workers.length > 0" [Workers]="Workers"></app-workers-list-view>

        </div>
</div>

<p-toast></p-toast>