.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    margin:1rem;
}

::ng-deep .p-menu{
    border: none !important;
    box-shadow: none !important;
}