<p-card [style]="{ width: '20rem', overflow: 'hidden' }">
    <ng-template #header>
        <img alt="Card" src="assets\images\cattle\{{Cow?.imgLink}}" />
    </ng-template>
    <ng-template #title> {{Cow.identifier}} </ng-template>
    <ng-template #subtitle> {{Cow.name}} </ng-template>
    <p>
        Race : {{Cow.race}}
    </p>
    <p-divider/>
    <p>
        Group : {{Cow.groupId | groupName}}
    </p>
    <p>
        Pen : {{Cow.penId | penName}}
    </p>
    <p-divider/>
    <ng-template #footer>
        <div class="card-actions">
            <div> 
                <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"/>
                <p-button (click)="menu.toggle($event)" icon="pi pi-plus"/>
            </div>
            <p-button (onClick)="UpdateCow(Cow)" icon="pi pi-pencil"></p-button>
            <p-button (onClick)="navigateToCowDetails(Cow)" icon="pi pi-eye"></p-button>
        </div>
    </ng-template>
</p-card>

