<div class="dialog_container">
    <form  [formGroup]="GroupForm">

        <div class="form">
            <div class="form-columns">
                <div class="form-column">
                    <div class="form-entry-col">
                        <label for="name">Nom</label>
                        <input pInputText id="name" formControlName="name" />
                        @if (this.isInvalid(GroupForm, 'name')){
                            <p-message severity="error" size="small" variant="simple">
                                {{getErrorMessage(GroupForm, 'name')}}
                            </p-message>
                        }
                    </div>
                    <div class="form-entry-col">
                        <label for="description">Description</label>
                        <textarea rows="5" cols="25" pInputTextarea formControlName="description"></textarea>
                        @if (this.isInvalid(GroupForm, 'description')){
                            <p-message severity="error" size="small" variant="simple">
                                {{getErrorMessage(GroupForm, 'description')}}
                            </p-message>
                        }
                    </div>
                    <div class="form-entry-col">
                        <label for="image">Image</label>
                        <input pInputText id="imglink" formControlName="imglink" />
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <p-button label="Annuler" [raised]="true" severity="warn" (click)="OnCancel()"></p-button>
                <p-button label="Confirmer" [raised]="true" severity="primary" [disabled]="!GroupForm.valid" (click)="OnCreate()"></p-button>
            </div>
        </div>

    </form>
</div>
