<div class="page_base">

    <div style="display:flex; flex-direction: column; gap:2rem;">

        <div class="flex flex-row justify-content-between gap-4">

            <div class="flex flex-column">
                <div class="flex flex-row gap-4">
                    <div class="flex-grow-2 max">
                        <p-panel header="Tâches">
                            <div class="size-scroll_jobList">
                                <app-job-list-view [Jobs]="Jobs"></app-job-list-view>
                            </div>
                        </p-panel>
                    </div>
                    <!-- <div>
                        <app-gestations-list [Gestations]="Gestations"></app-gestations-list>
                    </div> -->
                    <div>
                        <p-panel header="Gestations">
                            <app-gestations-board [Gestations]="Gestations"></app-gestations-board>
                        </p-panel>
                    </div>
                    <div>
                        <p-panel header="Interventions">
                            <div class="size-scroll_interventionList">
                                <app-intervention-list [Interventions]="Interventions"></app-intervention-list>
                            </div>
                        </p-panel>
                    </div>
                </div>
            </div>

            <!-- <p-divider layout="vertical"></p-divider>

            <div class="fles flex-column gap-3">
                <app-alert-list [Alerts]="Alerts"></app-alert-list>
            </div> -->
        </div>
    </div>

</div>
