<div class="dialog_container">
    <form  [formGroup]="createCowForm">
        <div class="form-columns">

            <div class="form-column">
                <div class="form-entry-col">
                    <label for="identifier">Identifiant</label>
                    <input pInputText id="identifier" formControlName="identifier" fluid/>
                </div>
                <div class="form-entry-col">
                    <label for="name">Nom</label>
                    <input pInputText id="name" formControlName="name" fluid/>
                </div>
                <div class="form-entry-col">
                    <label for="birthdate">Date de naissance</label>
                    <p-datepicker type="date" formControlName="birthdate"></p-datepicker>
                </div>
                <div class="form-entry-col">
                    <label for="mother">Mère</label>
                    <!-- <input pInputText id="mother" formControlName="mother" fluid/> -->
                    <p-select 
                        [options]="females" optionLabel="name" optionValue="id" formControlName="motherId" placeholder="père" [showClear]="true" fluid>
                    </p-select>
                </div>
                <div class="form-entry-col">
                    <label for="father">Père</label>
                    <!-- <input pInputText id="father" formControlName="father" fluid/> -->
                    <p-select 
                        [options]="males" optionLabel="name" optionValue="id" formControlName="fatherId" placeholder="père" [showClear]="true" fluid>
                    </p-select>
                </div>
                <div class="form-entry-row">
                    <label for="">sex</label>
                    <div *ngFor="let gender of genders" class="flex flex-row field-checkbox">
                        <p-radioButton [inputId]="gender" [value]="gender" formControlName="gender"></p-radioButton>
                        <label [for]="gender" class="ml-2">{{ gender }}</label>
                    </div>
                </div>
            </div>

            <div class="form-column">
                <div class="form-entry-col">
                    <label for="race">Race</label>
                    <p-select 
                        [options]="races" formControlName="race" placeholder="race" [showClear]="true" fluid>
                    </p-select>
                </div>
                <div class="form-entry-col">
                    <label for="group">Groupe</label>
                    <p-select 
                        [options]="groups" optionLabel="name" optionValue="id" formControlName="groupId" placeholder="groupe" [showClear]="true" fluid>
                    </p-select>
                </div>
                <div class="form-entry-col">
                    <label for="pen">Enclos</label>
                    <p-select 
                        [options]="pens" optionLabel="name" optionValue="id" formControlName="penId" placeholder="enclos" [showClear]="true" fluid>
                    </p-select>
                </div>
            </div>
            
        </div>

        <div class="form-actions">
            <p-button label="Annuler" [raised]="true" severity="warn" (click)="OnCancel()"></p-button>
            <p-button label="Confirmer" [raised]="true" [disabled]="!createCowForm.valid" (click)="OnCreate()"></p-button>
        </div>

    </form>
</div>
