<div class="flex flex-column m-5">

    <div class="flex flex-row justify-content-between align-content-center">
        <h1>Groupes</h1>
        <div class="flex flex-row justify-content-end gap-3">
            <p-button label="Ajouter groupe"></p-button> 
            <!-- <p-button label="Ajouter animal "></p-button>  -->
        </div>
    </div>

    <p-divider></p-divider>

    <div class="gap-4">
        <app-group-card-view [Groups]="Groups"></app-group-card-view>
        
    </div>

</div>
