.dialog{
    &_container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        .form{
            display: flex;
            flex-direction: column;
            gap:4rem;
            &-columns{
                display: flex; 
                flex-direction: row;
                justify-content: space-around;
                gap:2rem;
                // padding:1rem;
                .form-column{
                    display:flex;
                    flex-direction: column;
                    gap:1rem;
                }
                .form-entry-col{
                    display:flex;
                    flex-direction: column;
                    gap:0.5rem;
                }
                .form-entry-row{
                    display:flex;
                    flex-direction: row;
                    gap:0.5rem;
                }
            }
            &-actions{
                display: flex; 
                flex-direction: row;
                justify-content: flex-end;
                gap: 1rem;
                // margin-top: 2rem;
                // padding:1rem;
            }

        }

    }
}