<div class="page_base">

    <div class="flex flex-row justify-content-between gap-4">

        <div class="flex flex-column">

            <div class="flex flex-row justify-content-start align-content-center">
                <div class="flex flex-row justify-content-between gap-3">
                    <p-button label="Tout" (click)="ShowAll()"></p-button>
                    <p-button *ngIf="IsAdmin" label="Ajouter" (click)="CreateCowDialog()"></p-button>
                </div>
            </div>

            <p-divider></p-divider>

            <div class="panel_border">
                <p-panel header="Groupes" [toggleable]="true" [collapsed]="true">
                    @for (group of Groups; track $index)
                    {
                        <app-group-card-small (onSelected)="SelectGroup(group)" [Group]="group"></app-group-card-small>
                    }
                </p-panel>

                <p-panel header="Enclos" [toggleable]="true" [collapsed]="true">
                    @for (pen of Pens; track $index)
                    {
                        <app-pen-card-small (onSelected)="SelectPen(pen)" [Pen]="pen"></app-pen-card-small>
                    }
                </p-panel>
            </div>
        </div>

        <div class="flex flex-column" style="flex-grow:4;">
            <app-cows-list-view #cowList [Cows]="Cows" (onUpdate)="UpdateCowDialog($event)" (onSelectCow)="SelectCow($event)"></app-cows-list-view>
        </div>

        <div class="flex flex-column" *ngIf="!!SelectedCow">
            <app-cow-card [Cow]="SelectedCow"
                (onUpdate)="UpdateCowDialog($event)"
                (onAddAlert)="CreateCowAlertDialog($event)"
                (onAddIntervention)="CreateInterventionDialog($event)"
                (onAddVaccination)="CreateVaccinationDialog($event)"
                (onAddGestation)="CreateGestationDialog($event)"
                (onAddCondition)="CreateConditionDialog($event)"
                (onAddTreatment)="CreateTreatmentDialog($event)">
            </app-cow-card>
        </div>

    </div>
</div>

<p-toast></p-toast>