<div class="flex flex-row m-3 justify-content-start gap-4">

    <div class="panel_border">
        <p-tabView>
            <p-tabPanel header="Groupes">
                @for (group of Groups; track $index) 
                {
                    <app-group-card-small (onSelected)="SelectGroup(group)" [Group]="group"></app-group-card-small>
                }
            </p-tabPanel>

            <p-tabPanel header="Enclos">
                <!-- @for (pen of Pens; track $index) 
                {
                    <app-pen-card-small [Pen]="pen"></app-pen-card-small>
                } -->
            </p-tabPanel>

            <!-- <p-tabPanel header="Race"> -->
                <!-- @for (race of Rraces; track $index) 
                {

                } -->
            <!-- </p-tabPanel> -->
        </p-tabView>
    </div>


    <div class="flex flex-column">

        <div class="flex flex-row justify-content-start align-content-center">
            <div class="flex flex-row justify-content-end gap-3">
                <!-- <p-button label="Ajouter groupe"></p-button>  -->
                <p-button label="Ajouter" (click)="createCowDialog()"></p-button> 
            </div>
        </div>

        <p-dialog [(visible)]="displayLoader" [style]="{width: '49vw'}">
        <p-progressSpinner></p-progressSpinner>
        <p>test</p>
        </p-dialog>

        <p-divider></p-divider>

        <div class="gap-4">
            <!-- <app-group-card-view [Groups]="Groups"></app-group-card-view> -->
            <app-cows-list-view #cowList [Cows]="Cows"></app-cows-list-view>
        </div>

    </div>
</div>