<p-panel header="Liste">
    <p-table #dt
        [value]="filteredCows"
        styleClass="p-datatable-striped"
        [globalFilterFields]="['identifier','name', 'status']"
        >

        <!-- [tableStyle]="{ 'min-width': '50rem'}" -->
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText #textInput type="text"
                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Identifiant</th>
                <th>Name</th>
                <th>Naissance</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-cow>

            <tr>
                <td>{{cow.identifier}}</td>
                <td>{{cow.name}}</td>
                <td>{{cow.birthDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{cow.gender}}</td>
                <td style="display:flex; flex-direction:row; justify-content: flex-start; gap:0.1rem;">
                    <p-button (onClick)="SelectCow(cow)" severity="secondary" icon="pi pi-eye"/>
                </td>
            </tr>
        </ng-template>

    </p-table>
</p-panel>
