<div class="dialog_container">
    <form  [formGroup]="CreateInterventionForm">
        <div class="form">

            <div class="form-columns">
                <div class="form-column">
                    <!-- <div class="form-entry-col">
                        <label for="identifier">Identifiant</label>
                        <input pInputText id="identifier" formControlName="identifier" />
                    </div> -->
                    <div class="form-entry-col">
                        <label for="type">Type</label>
                        <input pInputText id="type" formControlName="type" />
                    </div>
                    <div class="form-entry-col">
                        <label for="description">Description</label>
                        <input pInputText id="description" formControlName="description" />
                    </div>
                    <div class="form-entry-col">
                        <label for="status">Status</label>
                        <input pInputText id="status" formControlName="status" />
                    </div>
                    <div class="form-entry-col">
                        <label for="birthdate">Date</label>
                        <p-datepicker type="date" formControlName="date"></p-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <p-button label="Annuler" [raised]="true" severity="warn" (click)="OnCancel()"></p-button>
                <p-button label="Confirmer" [raised]="true" [disabled]="!CreateInterventionForm.valid" (click)="OnCreate()"></p-button>
            </div>

        </div>
    </form>
</div>
