    <!-- <div> </div> -->

    <div class="alertSideList">
        <div *ngFor="let alert of Alerts; index as i" class="item"
            [ngClass]="{'bg-orange': alert.level === 'Haut', 'bg-lightorange' : alert.level === 'Moyen', 'bg-green' : alert.level === 'Bas'}">

            <div class="item-row">
                <span class="details">{{ alert.title }}</span>
                <span class="infos" *ngIf="!!alert.cowId">{{alert.cowId}}</span>
                <span class="infos" *ngIf="!alert.cowId && !!alert.penId">{{alert.penId}}</span>
            </div>

        </div>
    </div>