
    <!-- <div>

    </div> -->


    <div class="shortlist">
        <div *ngFor="let alert of Alerts; index as i" class="item">

            <div class="item-row">
                <span class="details">{{ alert.title }}</span>
                <span class="date">{{alert.level}}</span>

                <span class="infos" *ngIf="!!alert.cowId">{{alert.cowId}}</span>
                <span class="infos" *ngIf="!alert.cowId && !!alert.penId">{{alert.penId}}</span>
            </div>

        </div>
    </div>