    <!-- <div> </div> -->

    <div class="alertSideList">
        <div *ngFor="let alert of Alerts; index as i" class="item"
            [ngClass]="{'bg-orange': alert.level === 'Haut', 'bg-lightorange' : alert.level === 'Moyen', 'bg-green' : alert.level === 'Bas'}">

            <div class="item-row">
                <span class="details" pTooltip="{{alert?.description ?? ''}}" tooltipPosition="left" >{{ alert.title }}</span>
                <span class="infos" *ngIf="!!alert.cowId">{{alert.cowId | cowIdentifier}}</span>
                <span class="infos" *ngIf="!alert.cowId && !!alert.penId">{{alert.penId | penName}}</span>
            </div>

        </div>
    </div>