<div class="page_base">
    <p-dataView #dv [value]="PenMapInfos" [layout]="'grid'">
        <ng-template #grid let-penInfos>
            <div class="grid grid-nogutter">
                <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2" *ngFor="let penInfo of penInfos; index as i">
                    <div class="p-2 border-1 surface-border surface-card border-round">
                        <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag"></i>
                                <span class="font-semibold">{{ penInfo.Pen.name }}</span>
                            </span>
                        </div>
                        <div style="height: 200px;" leaflet 
                            [leafletOptions]="penInfo.MapOptions"
                            [leafletLayers]="penInfo.MapLayers">
                        </div>
                        <div class="flex flex-row justify-content-end gap-2">
                            <span class="p-buttonset">
                                <p-button icon="pi pi-cog" severity="secondary" pTooltip="Modifier"></p-button>
                                <p-button (click)="CreatePenAlertDialog(penInfo.Pen)" severity="warn" icon="pi pi-bell"></p-button>
                                <p-button (click)="picklistPenDialog(penInfo.Pen)" icon="pi pi-list" severity="info" pTooltip="Assigner" ></p-button>
                                <!-- <p-button icon="pi pi-times" severity="danger" pTooltip="Supprimer"></p-button> -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-toast></p-toast>