.main{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0 3rem 0 3rem;
}

.main-content{
    flex-grow: 1;
    height: 100%;
    width: 100%;
    padding: 1rem;
}