<!-- <app-toolbar (onShowSidebar)="showSidebar()" stlyeclass=min-w-full ></app-toolbar>

<div class="main">
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>

<app-sidebar #sidebar></app-sidebar> -->

<div class="main">
  
  <app-toolbar (onShowSidebar)="drawer.toggle()" stlyeclass=min-w-full ></app-toolbar>

  <mat-sidenav-container>
      <mat-sidenav #drawer mode="side">
        <app-sidenav> </app-sidenav>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
          <!-- <div class="main-content">
          </div> -->
  </mat-sidenav-container>

</div>