<div class="dialog_container">
    <form  [formGroup]="UpdateGroupForm">
        <div class="form">
            <div class="form-columns">
                <div class="form-column">
                    <div class="form-entry-col">
                        <label for="name">Nom</label>
                        <input pInputText id="name" formControlName="name" />
                    </div>
                    <div class="form-entry-col">
                        <label for="description">Description</label>
                        <textarea rows="5" cols="25" pInputTextarea formControlName="description"></textarea>
                    </div>
                    <div class="form-entry-col">
                        <label for="name">Image</label>
                        <input pInputText id="imgLink" formControlName="imgLink" />
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <p-button label="Annuler" [raised]="true" severity="warn" (click)="OnCancel()"></p-button>
                <p-button label="Confirmer" [raised]="true" severity="primary" [disabled]="!UpdateGroupForm.valid" (click)="OnUpdate()"></p-button>
            </div>
        </div>
    </form>
</div>

