<div class="milking_input">

        <div>
            <img width=160px src="assets\images\cattle\{{MilkingData.Cow.imgLink}}" [alt]="MilkingData.Cow.name"/>
        </div>
        <div class="column">
            <span class="identifier">{{MilkingData.Cow.identifier}}</span>
            <span class="name">{{MilkingData.Cow.name}}</span>
        </div>
        <div style="display:flex; flex-direction: column; gap:0.2rem;">
            <div class="inputs">
                <p-inputGroup>
                    <p-inputNumber [(ngModel)]="volume" [disabled]="MilkingData.Done || MilkingData?.Volume !== 0" [inputStyle]="{width: '3rem'}" inputId="integeronly"></p-inputNumber>
                    <p-inputGroupAddon>L</p-inputGroupAddon>
                </p-inputGroup>
                <p-slider [(ngModel)]="volume" [disabled]="MilkingData.Done" [style]="{width: '6rem'}"/>
                <!-- <mat-slider [max]="50" [min]="0" [step]="1" [disabled]="MilkingData.Done || MilkingData?.Volume !== 0">
                    <input matSliderThumb [(ngModel)]="volume" #slider>
                </mat-slider> -->
            </div>
            <div style="display:flex; flex-direction:row; gap:1rem; align-self: flex-end;">
                <p-button icon="pi pi-check" size='small'  [text]="true" [raised]="true" (click)="Save()" [disabled]="MilkingData.Done"/> 
                <p-button icon="pi pi-times" severity="warn" size='small' [text]="true" [raised]="true" (click)="Annul()" [disabled]="MilkingData.Done"/> 
            </div>
        </div>
</div>
<!-- <p-divider></p-divider> -->