.milking_input{
    display:flex;
    flex-direction: row;
    align-items:center; 
    gap:1rem;
    padding:1rem;
    background-color: white;
    border: 1px solid black; 
    border-radius: 5px;   

    .identifier{
        font-weight: bold;
    }
    .inputs{
        display:flex;   
        flex-direction:row; 
        justify-content: center;
        align-items:center;
        gap: 1rem; 
    }
}