<div class="page_base">
    <div style="display:flex; flex-direction: row; gap: 2rem">
        <div style="flex-grow:2"></div>
        <div style="flex-grow:1">
            <app-cow-genealogy [CowDetails]="CowDetails"></app-cow-genealogy>
        </div>
        <div style="max-height:75vh; overflow:auto">
            <app-cow-timeline [CowDetails]="CowDetails"></app-cow-timeline>
        </div>
    </div>
    <div>
        <app-cow-month-milkings-graph [Milkings]="CowMilkingVolumes" [MilkingVolumes]="MilkingVolumes" ></app-cow-month-milkings-graph>
    </div>
</div>
