<div class="page_base">

    <p-menubar>
        <ng-template #start>
            <div style="display:flex; flex-direction: row; gap:1rem; align-items:center">
                <img width="33px" heigt="35px" src="assets\icons\milking_icon.jpg"/>
            </div>
        </ng-template>
        <!-- <ng-template>
        </ng-template> -->
        <ng-template #end>
            <div style="display:flex; flex-direction: row; gap:1rem; align-items:center">
                <div>
                    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"/>
                    <p-button icon="pi pi-plus" [raised]="true" size="large" (click)="menu.toggle($event)" />
                </div>
                <p-button icon="pi pi-cog" [raised]="true" size="large" (click)="UpdateCowDialog(Cow)" />
                <p-button icon="pi pi-sitemap" [raised]="true"  size="large" (click)="ShowGenealogy()"/>
                <p-button icon="pi pi-chart-bar" [raised]="true"  size="large" (click)="ShowStatistics()" *ngIf="CowDetails?.milkCow"/>
                <p-button icon="pi pi-user" [raised]="true"  size="large" (click)="ShowTimeline()"/>
            </div>
        </ng-template>
    </p-menubar>

    <div class="main" *ngIf="!!CowDetails">

        <div class="container-box animal">
            <div class="title">
                Animal
            </div>
            <div class="content">

                <div class="infos">
                    <div class="infos-column-labels">
                        <p> Naissance : </p>
                        <p> Race : </p>
                        <p> Père : </p>
                        <p> Mère : </p>
                    </div>
                    <div class="infos-column-inputs">
                        <p> {{CowDetails.birthDate | date:'dd/MM/yyyy'}} </p>
                        <p> {{CowDetails.race}} </p>
                        <p> {{CowDetails.race}} </p>
                        <p> {{CowDetails.race}} </p>
                    </div>
                    <p-divider layout="vertical"/>
                    <div class="infos-column-labels">
                        <p> Groupe : </p>
                        <p> Enclos : </p>
                    </div>
                    <div class="infos-column-inputs">
                        <p> {{CowDetails.group?.name}} </p>
                        <p> {{CowDetails.pen?.name}} </p>
                    </div>
                </div>

                    <p-divider layout="vertical"/>

                <div class="sides">
                    <p-image src="assets\images\cattle\{{CowDetails.imgLink}}" alt="Image" width="250" [style]="{ 'border-radius': '12px' }" />
                    <div>
                        <div style="height: 150px; border-radius: 12px;" leaflet [leafletOptions]="mapOptions"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="activities">
            <div class="content">

                <div class="content-row" *ngIf="this.CowDetails?.conditions!.length > 0 || this.CowDetails?.interventions!.length > 0">
                    <app-activities-shortlist *ngIf="this.CowDetails?.conditions!.length > 0" 
                        [ChosenActivityType]="ActivityType.Conditions"
                        [Activities]="this.CowDetails.conditions">
                    </app-activities-shortlist>
                    <app-activities-shortlist *ngIf="this.CowDetails?.interventions!.length > 0"
                        [ChosenActivityType]="ActivityType.Interventions"
                        [Activities]="this.CowDetails.interventions">
                    </app-activities-shortlist>
                </div>
                <div class="content-row" *ngIf="this.CowDetails?.treatments!.length > 0 || this.CowDetails?.vaccinations!.length > 0">
                    <app-activities-shortlist *ngIf="this.CowDetails?.treatments!.length > 0"
                        [ChosenActivityType]="ActivityType.Treatments"
                        [Activities]="this.CowDetails.treatments">
                    </app-activities-shortlist>
                    <app-activities-shortlist *ngIf="this.CowDetails?.vaccinations!.length > 0"
                        [ChosenActivityType]="ActivityType.Vaccinations"
                        [Activities]="this.CowDetails.vaccinations">
                    </app-activities-shortlist>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- <div *ngIf="!!CowDetails" style="max-height:90vh; overflow:auto; display:flex; flex-grow:1">
    <app-cow-timeline [CowDetails]="CowDetails"></app-cow-timeline>
</div> -->

<!-- <div *ngIf="!!CowMilkingVolumes && CowDetails?.milkCow">
    <app-cow-month-milkings-graph [Milkings]="CowMilkingVolumes" [MilkingVolumes]="MilkingVolumes" ></app-cow-month-milkings-graph>
</div> -->

<ng-container *ngIf="!!CowDetails">
<p-dialog header="Généalogie" [modal]="true" [(visible)]="ShowGenealogyDialog" [style]="{ width: '50rem' }">
    <app-cow-genealogy [CowDetails]="CowDetails"></app-cow-genealogy>
</p-dialog>
</ng-container>

<ng-container *ngIf="!!CowDetails">
<p-dialog header="Historique" [modal]="true" [(visible)]="ShowTimelineDialog" [style]="{ width: '25rem' }">
    <app-cow-timeline [CowDetails]="CowDetails"></app-cow-timeline>
</p-dialog>
</ng-container>

<ng-container *ngIf="!!CowMilkingVolumes && CowDetails?.milkCow">
<p-dialog header="Production laitère" [modal]="true" [(visible)]="ShowStatisticsDialog" [style]="{ width: '100rem' }">
    <app-cow-month-milkings-graph [Milkings]="CowMilkingVolumes" [MilkingVolumes]="MilkingVolumes" ></app-cow-month-milkings-graph>
</p-dialog>
</ng-container>