<div class="dialog_container">
    <div *ngIf="Job?.workers" class="form_base gap-2">
        <div class="flex flex-column gap-2">
            <span>Travailleurs : </span>
            <span *ngFor="let worker of Job?.workers">{{worker.username}}</span>
        </div>
    </div>
    <div class="form">
        <div class="form-columns">
            <div class="form-column">
                <div class="form-entry-col">
                    <label for="worker">Travailleur</label>
                    <p-select 
                        [options]="Workers" [(ngModel)]="selectedWorker" optionLabel="username" 
                        [showClear]="true" placeholder="Choisissez un travailleur">
                    </p-select>
                </div>
            </div>
        </div>

    <div class="form-actions">
        <p-button label="Annuler" [raised]="true" severity="warn" (click)="OnCancel()"></p-button>
        <p-button label="Confirmer" [raised]="true" severity="primary" (click)="OnConfirm()"></p-button> </div>
</div>
