<div>
    <form  [formGroup]="jobForm">
        <div class="flex flex-row">
            <div class="form_base gap-2">
                <div class="flex flex-column gap-2">
                    <label for="title">Titre</label>
                    <input pInputText id="title" formControlName="title" />
                </div>
                <div class="flex flex-column gap-2">
                    <label for="description">Description</label>
                    <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
                </div>
                <div class="flex flex-column gap-2">
                    <label for="length">Durée</label>
                    <p-inputNumber inputId="integeronly" formControlName="length"> </p-inputNumber>
                </div>
            </div>

            <div class="form_base gap-2">
                <div class="flex flex-column gap-2">
                    <label for="pen">Enclos</label>
                    <p-dropdown 
                        [options]="data.Pens" formControlName="pen" optionLabel="name" 
                        [showClear]="true" placeholder="Choisissez un enclos">
                    </p-dropdown>
                </div>
            </div>
            
        </div>

        <div class="flex-row justify-content-end">
            <p-button label="Annuler" [text]="true" severity="warning" (click)="OnCancel()"></p-button>
            <p-button label="Confirmer" [text]="true" [disabled]="!jobForm.valid" (click)="OnCreate()"></p-button>
        </div>

    </form>
</div>